# dependencies
location-project/node_modules/
location-projec-back/node_modules/
location-projec-back/package-lock.json
location-project/package-lock.json

location-project/.pnp
location-project/.pnp.js

# environment
location-project/.env
location-projec-back/nodemon.json

# testing
location-project/coverage

# production
location-project/build

# misc
location-project/.DS_Store
location-project/.env.local
location-project/.env.development.local
location-project/.env.test.local
location-project/.env.production.local

location-project/npm-debug.log*
location-project/yarn-debug.log*
location-project/yarn-error.log*
